<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <?if $(env.DDK_ARCH) = x64 ?>
    <?define SYSDIR = System64Folder ?>
    <?else?>
    <?define SYSDIR = SystemFolder ?>
    <?endif ?>
    <Fragment>
        <DirectoryRef Id='BinDir'>
            <Component Id='QubesDbDaemon'
                       Guid='{1CE95F90-FBD1-4D1D-B955-C31D42F84D3C}'>
                       
                <File Id='QdbDaemon'
                      Source='$(env.QUBES_BIN)\qubesdb-daemon.exe'
                      KeyPath='yes' />
                <ServiceInstall Id='QdbService'
                                Type='ownProcess'
                                Vital='yes'
                                Name='QdbDaemon'
                                DisplayName='QubesDB daemon'
                                Description='Qubes configuration database agent'
                                Start='auto'
                                Account='LocalSystem'
                                ErrorControl='ignore'
                                Interactive='no'
                                Arguments='0' />
                <ServiceControl Id='QdbServiceControl'
                                Stop='both'
                                Remove='uninstall'
                                Name='QdbDaemon'
                                Wait='yes' />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id='$(var.SYSDIR)'>
            <Component Id='QubesDbClient'
                       Guid='{E9742F11-6E77-44FC-8A53-168BE2D9273A}'>
                       
                <File Id='QdbClient'
                      Source='$(env.QUBES_BIN)\qubesdb-client.dll'
                      KeyPath='yes' />
                <File Id='QdbCmd'
                      Source='$(env.QUBES_BIN)\qubesdb-cmd.exe' />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
