<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Module
        Id='coreQubesDB'
        Language='1033'
        Codepage='1252'
        Version='$(var.version)'>
        <Package
            Id='{2F4791B0-D713-460B-B810-1C89E55E93A2}'
            Description='core-admin'
            Manufacturer='Invisible Things Lab'
            InstallerVersion='200'
            Languages='1033'
            SummaryCodepage='1252'/>
        <Configuration Name="ProductFolder" Format="Key" Type="Identifier" DefaultValue="PFilesQubes"
            Description="Installation directory" DisplayName="Installation directory"/>
        <Substitution Table="Directory" Column="Directory_Parent"
            Row="QubesBin" Value="[=ProductFolder]"/>

        <Property Id='PYTHONDIR'>
            <RegistrySearch Id='PythonDirRegistry' Type='raw' Root='HKLM' Key='Software\Python\PythonCore\2.7\InstallPath'/>
        </Property>
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='PYTHONDIR' Name='python27'>
                <Directory Id='PYTHONLIBDIR' Name='lib'>
                    <Directory Id='PYTHONSITELIBDIR' Name='site-packages'>
                        <Directory Id='PythonSiteQubes' Name='qubes'>
                            <Component Id="pythonMod" Guid="{47FA68E6-29D4-40F3-9387-CF1A711DD89E}">
                                <File Id="pythonMod" KeyPath="yes" Source="SourceDir\python\python27\lib\site-packages\qubes\qdb.pyd" />
                            </Component>
                        </Directory>
                        <Component Id="pythonModEggInfo" Guid="{7411D8D2-AC0F-4EA7-9F93-A29D6D82D8CA}">
                            <File Id="pythonModEggInfo" KeyPath="yes" Source="SourceDir\python\python27\lib\site-packages\QubesDB-1.0-py2.7.egg-info" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id='PYTHONDLLSDIR' Name='DLLs'/>
            </Directory>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='ITL' Name='Invisible Things Lab'>
                    <Directory Id='PFilesQubes' Name='Qubes'>
                        <Directory Id='QubesBin' Name='bin'>
                            <Component Id="qubesDBDaemon" Guid="{DF734EF1-F34C-47DC-9E6A-9D3267C5ECED}">
                                <File Id="qubesdDBDaemon" KeyPath="yes" Source="SourceDir\daemon\qubesdb-daemon.exe" />
                            </Component>
                            <Component Id="qubesDBCmd" Guid="{441B9CA2-8D39-400D-82D1-F0DC64098D9F}">
                                <File Id="qubesDBCmd" KeyPath="yes" Source="SourceDir\client\qubesdb-cmd.exe" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id='System64Folder' Name='SysWOW64'>
                <Component Id="qubesDBLibrary" Guid="{110827C6-E539-420A-BA7D-1AB5E55DE1F4}">
                    <File Id="qubesDBLibrary" KeyPath="yes" Source="SourceDir\client\libqubesdb.dll" />
                </Component>
            </Directory>
        </Directory>
    </Module>
</Wix>
