[Unit]
Description=Qubes DB agent
After=systemd-tmpfiles-setup.service

[Service]
# Both agent and daemon for dom0
ExecStart=/usr/bin/qubesdb-daemon 0 dom0
Type=notify
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
