[Unit]
Description=Qubes DB agent

[Service]
# Both agent and daemon for dom0
ExecStart=/usr/sbin/qubesdb-daemon 0 dom0
Type=notify
StandardOutput=syslog

[Install]
WantedBy=sysinit.target

